@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about Jenkins Test.</p>
        <p>Jenkins Test works for windows server!!</p>
    </div>
